PORT=3000
MONGO_URI=mongodb://localhost:27017/birthday-scheduler
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASS=your_email_password
GOOGLE_CLIENT_ID=611255777623-rmrs4nqufjvrcmvl27sg7oupo35bqtb2.apps.googleusercontent.com
